body {
  background-color: whitesmoke;
  color: black;
  font-family: Arial;
}

.recipe-heading {
  text-align: center;
  font-size: 30pt;
  font-style: oblique;
}

/* Portions block */
/* ---------------------------------------------------------- */
.portions-block {
  width: 200px;
  /* border: 1px solid black; */
  margin: 10pt;
  padding: 5pt;
}

.portions-text {
  font-size: 12pt;
  font-weight: normal;
  text-align: center;
  padding: 2pt;
}

/* This is the span of the buttons and nr of portions */
.portions-picker {
  display: table;
  margin: 0 auto;
  padding-bottom: 2pt;
}

.portions-button {
  font-size: 20px;
  font-weight: bold;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 3px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 6pt;
  margin-left: 6pt;
  border-radius: 100%;
}

.portions-number {
  font-size: x-large;
  font-weight: bold;
  width: 50pt;
  text-align: center;
  background-color: transparent;
  border-radius: 6px;
  border-width: 1pt;
}

/* Ingredients Block */
/* ---------------------------------------------------------- */
.ingredients-block {
  width: 250px;
  margin: left;
  /* border: 1px solid black; */
  padding: 10pt;
  float: left;
  margin-bottom: 20px;
}

.ingredients-header {
  text-align: center;
}

.ingredients-list {
  float: left;
  list-style-type: none;
  padding: 10pt;
}

.ingredients-amounts {
  float: left;
  list-style-type: none;
  padding: 10pt;
}

.ingredients-units {
  list-style-type: none;
  padding: 10pt;
  float: left;
}

/* Steps block */
/* ---------------------------------------------------------- */
.steps-block {
  width: 60%;
  margin: right;
  /* border: 1px solid black; */
  float: right;
  margin-bottom: 40px;
}

.steps-header {
  text-align: center;
}

.steps-recipe {
  font-weight: lighter;
}

/* Image */
/* ---------------------------------------------------------- */
.finished-image {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

/* Remove arrows on number-input field */
/* ---------------------------------------------------------- */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Header and Footer */
/* ---------------------------------------------------------- */
header {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 40px;
  padding-bottom: 4px;
  width: 100%;
  font-size: 13pt;
}

footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  bottom: 1;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-size: 11pt;
  font-weight: lighter;
  padding-top: 4px;
  padding-bottom: 4px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444;
  text-align: center;
}

nav li {
  float: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  line-height: 30px;
  border-bottom: 1px solid #393434;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  text-transform: uppercase;
  padding: 4px;
  font-weight: boldt;
  width: 120px;
}

nav a:hover,
a:active {
  background-color: #009bff;
}

.front-image{
  display: block;
  width: 40%;
  margin: auto;
  border-radius: 100%;
}