<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Partial Head Data -->
  <%- include('partials/head.ejs') %>
</head>

<body>
  <!-- Header Navigation Menu -->
  <%- include('partials/nav.ejs') %>

    <h1 class="w3-center" style="margin-top: 80px;">Marius Foods</h1>
    <h2 style="text-align: center; font-size: 16pt;">YES CHEF!</h2>
    <img src="marius.jpg" alt="Marius.jpg" class="front-image">
</html