<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Marius Foods</title>
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  <link rel="stylesheet" href="../css/style.css" type="text/css" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  
  <script src="../js/http_requests.js"></script>
  <script src="../js/recipes.js"></script>
</head>

<body>
  <!-- Header Navigation Menu -->
  <div class="w3-bar w3-border w3-light-grey w3-large">
    <span class="w3-bar-item w3-left">Marius Foods</span>
    <span class="">
      <a href="../index.html" class="w3-bar-item w3-button">Home</a>
      <a href="../images/recipes.html" class="w3-bar-item w3-button w3-green">Recipes</a>
      <div class="w3-dropdown-hover">
        <button class="w3-button">About<i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="#" class="w3-bar-item w3-button">This page</a>
          <a href="#" class="w3-bar-item w3-button">Contact</a>
        </div>
      </div>
      <!-- <input type="text" class="w3-mobile w3-bar-item w3-input w3-right" placeholder="Search.."> -->
      <!-- <a href="#" class="w3-bar-item w3-button w3-green">Go</a> -->
    </span>
  </div>

  <!-- CENTER ENTIRE PAGE CONTENT -->
  <div class="w3-content" style="max-width:80%;">
    <input type="text" id="recipeName" placeholder="Recipe Name">
    <button class="w3-button w3-round-large w3-green w3-ripple" onclick="loadRecipeInfo(document.getElementById('recipeName').value)">Load Info</button>
    <button class="w3-button w3-round-large w3-green w3-ripple" onclick="loadAllRecipeNames()">Load All Recipes</button>
    <div id="demo">Waffles content in database will show up here</div>

  

  </div>
  <!-- END OF CENTER PAGE -->
  
  <div class="w3-content" style="max-width: 60%">
    <img class="mySlides w3-ripple" src="../images/pancake.jpg" style="width:100%;display:none; cursor: pointer">
    <img class="mySlides w3-ripple" src="../images/waffles.jpg" style="width:100%; cursor: pointer;" onclick="openRecipe('Waffles')">
    <img class="mySlides w3-ripple" src="../images/beef.jpg" style="width:100%;display:none;  cursor: pointer">
  
    <div class="w3-row-padding w3-section">
      <div class="w3-col s4">
        <img class="demo w3-opacity w3-hover-opacity-off" src="../images/pancake.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(1)">
      </div>
      <div class="w3-col s4">
        <img class="demo w3-opacity w3-hover-opacity-off" src="../images/waffles.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(2)">
      </div>
      <div class="w3-col s4">
        <img class="demo w3-opacity w3-hover-opacity-off" src="../images/beef.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(3)">
      </div>
    </div>
  </div>
</body>

</html>