.portion-buttons {
  text-decoration: none;
  margin-left: 5pt;
  margin-right: 5pt;
  font-weight: bolder;
  font-family: monospace;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.portions-number {
  font-size: large;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border-radius: 6px;
  border-width: 1pt;
}

/* Portions block */
/* ---------------------------------------------------------- */
.portions-block {
  width: 200px;
  /* border: 1px solid black; */
  margin: 10pt;
  padding: 5pt;
}

.portions-text {
  font-size: 12pt;
  font-weight: normal;
  text-align: center;
  padding: 2pt;
}

/* This is the span of the buttons and nr of portions */
/* .portions-picker {
    display: table;
    margin: 0 auto;
    padding-bottom: 2pt;
  } */

/* Ingredients Block */
/* ---------------------------------------------------------- */
.ingredients-block {
  width: 250px;
  margin: left;
  /* border: 1px solid black; */
  padding: 10pt;
  float: left;
  margin-bottom: 20px;
}

.ingredients-header {
  text-align: center;
}

.ingredients-list {
  float: left;
  list-style-type: none;
  padding: 10pt;
}

.ingredients-amounts {
  float: left;
  list-style-type: none;
  padding: 10pt;
}

.ingredients-units {
  list-style-type: none;
  padding: 10pt;
  float: left;
}

/* Steps block */
/* ---------------------------------------------------------- */
.steps-block {
  width: 60%;
  margin: right;
  /* border: 1px solid black; */
  float: right;
  margin-bottom: 40px;
}

.steps-header {
  text-align: center;
}

.steps-recipe {
  font-weight: lighter;
}

/* Image */
/* ---------------------------------------------------------- */
.cover-image {
  display: block;
  width: 70%;
  margin: auto;
  /* margin-bottom: 20px; */
}

@media screen and (max-width: 900px) {
  .cover-image {
    width: 100%;
  }
}

/* Remove arrows on number-input field */
/* ---------------------------------------------------------- */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.center-page-content {
  background-color: white;
  max-width: 80%;
}

@media screen and (max-width: 600px) {
  .center-page-content{
    max-width: 90%;
  }
}
