body {
  background-color: whitesmoke;
  color: black;
  font-family: Arial;
}

.front-image {
  display: block;
  width: 40%;
  margin: auto;
  border-radius: 100%;
}

/* Medias */
/* ---------------------------------------------------------- */
/* @media screen and (max-width: 600px) {
  .search_bar {
    visibility: hidden;
    display: none;
  }
} */
