name: Pipeline

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install SQLFluff
        run: pip install sqlfluff==3.2.5
      - name: Lint SQL Files
        run: "./database/lint.sh"

  lint-build-test:
    needs: [lint]
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_PASSWORD: nodejs
          POSTGRES_USER: nodejs
          POSTGRES_DB: matprat
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    
    defaults:
      run:
        shell: bash
        working-directory: server
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node Environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: server/package-lock.json
      
      - name: Clean Install Packages
        run: npm ci
      
      - name: Setup Test Database
        env:
          PGPASSWORD: nodejs
        run: |
          cd ../database
          psql -h localhost -U nodejs -d matprat -f sql/create_all.sql
          psql -h localhost -U nodejs -d matprat -f sql/insert_recipes.sql
          psql -h localhost -U nodejs -d matprat -f sql/insert_categories.sql
          psql -h localhost -U nodejs -d matprat -f sql/insert_ingredients.sql
          psql -h localhost -U nodejs -d matprat -f sql/insert_steps.sql
          psql -h localhost -U nodejs -d matprat -f sql/insert_images.sql
      
      - name: Initialize Admin User
        env:
          DB_HOST: localhost
          DB_PORT: 5432
          DB_USER: nodejs
          DB_PASSWORD: nodejs
          DB: matprat
        run: node init_admin_user.js
      
      - name: Lint with ESLint and EJS-Lint
        run: npm run lint
      
      - name: Run Integration Tests
        env:
          NODE_ENV: test
          DB_HOST: localhost
          DB_PORT: 5432
          DB_USER: nodejs
          DB_PASSWORD: nodejs
          DB: matprat
        run: npm run test:integration
      
      - name: Build
        run: npm run build
