name: Pipeline

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install SQLFluff
        run: pip install sqlfluff==3.2.5
      - name: Lint SQL Files
        run: "./database/lint.sh"

  lint-build-test:
    needs: [lint]
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: server
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node Environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: server/package-lock.json
      - name: Clean Install Packages
        run: npm ci
      - name: Lint with ESLint and EJS-Lint
        run: npm run lint
      - name: Test
        run: npm test
      - name: Build
        run: npm run build
